src/EUREKA/G6KBundle/Resources/doc/Simulator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) by Jacques ARCHIMEDE (DILA) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Simulator">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description"/>
				<xs:element name="DataSet">
					<xs:complexType>
						<xs:sequence>
							<xs:sequence maxOccurs="unbounded">
								<xs:element name="Data" type="DataType" minOccurs="0"/>
								<xs:element name="DataGroup" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Description" minOccurs="0"/>
											<xs:element name="Data" type="DataType" maxOccurs="unbounded"/>
											<xs:element name="Constraints" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Constraint" type="ConstraintType" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
										<xs:attribute name="name" type="xs:string" use="required"/>
										<xs:attribute name="label" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:element name="GlobalConstraints" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Constraint" type="ConstraintType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="dateFormat" type="xs:string" use="required"/>
						<xs:attribute name="decimalPoint" type="xs:string" use="required"/>
						<xs:attribute name="moneySymbol" type="xs:string" use="required"/>
						<xs:attribute name="symbolPosition" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:NMTOKEN">
									<xs:enumeration value="before"/>
									<xs:enumeration value="after"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Steps">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Step" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Description" type="xs:string" minOccurs="0"/>
										<xs:element name="FieldSet" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Legend" type="xs:string" minOccurs="0"/>
													<xs:element name="Columns" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Column" type="ColumnType" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:sequence maxOccurs="unbounded">
														<xs:element name="Field" type="FieldType" minOccurs="0"/>
														<xs:element name="FieldRow" minOccurs="0">
															<xs:complexType>
																<xs:sequence minOccurs="0" maxOccurs="unbounded">
																	<xs:element name="Field" type="FieldType"/>
																</xs:sequence>
																<xs:attribute name="label" type="xs:string"/>
																<xs:attribute name="help" type="xs:boolean" default="0"/>
																<xs:attribute name="colon" type="xs:boolean" default="1"/>
																<xs:attribute name="emphasize" type="xs:boolean"/>
																<xs:attribute name="datagroup" type="xs:positiveInteger" use="required"/>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:sequence>
												<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
												<xs:attribute name="condition" type="xs:string"/>
												<xs:attribute name="disposition">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="classic"/>
															<xs:enumeration value="grid"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="ActionList" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Action" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<xs:attribute name="label" type="xs:string" use="required"/>
															<xs:attribute name="condition" type="xs:string"/>
															<xs:attribute name="what" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="submit"/>
																		<xs:enumeration value="reset"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="for" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:NMTOKEN">
																		<xs:enumeration value="priorStep"/>
																		<xs:enumeration value="currentStep"/>
																		<xs:enumeration value="nextStep"/>
																		<xs:enumeration value="jumpToStep"/>
																		<xs:enumeration value="externalPage"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="uri" type="xs:string"/>
															<xs:attribute name="class" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FootNotes" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FootNote" maxOccurs="unbounded">
														<xs:complexType mixed="true">
															<xs:attribute name="id" type="xs:positiveInteger"/>
															<xs:attribute name="condition" type="xs:string"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="position">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="beforeActions"/>
															<xs:enumeration value="afterActions"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="label" type="xs:string" use="required"/>
									<xs:attribute name="template" type="xs:string" use="required"/>
									<xs:attribute name="condition" type="xs:string"/>
									<xs:attribute name="output">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="normal"/>
												<xs:enumeration value="inlinePDF"/>
												<xs:enumeration value="downloadablePDF"/>
												<xs:enumeration value="html"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="dynamic" type="xs:boolean" default="0"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sites">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Site" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="home" type="xs:anyURI" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sources" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Source" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="type" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="queryString"/>
															<xs:enumeration value="path"/>
															<xs:enumeration value="columnValue"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="name" type="xs:string"/>
												<xs:attribute name="format" type="xs:string"/>
												<xs:attribute name="data"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
									<xs:attribute name="datasource" type="xs:positiveInteger" use="required"/>
									<xs:attribute name="request" type="xs:string"/>
									<xs:attribute name="returnType" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="json"/>
												<xs:enumeration value="xml"/>
												<xs:enumeration value="singleValue"/>
												<xs:enumeration value="assocArray"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="returnPath" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="label" type="xs:string" use="required"/>
			<xs:attribute name="dynamic" type="xs:boolean" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ColumnType">
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="date"/>
					<xs:enumeration value="day"/>
					<xs:enumeration value="month"/>
					<xs:enumeration value="year"/>
					<xs:enumeration value="boolean"/>
					<xs:enumeration value="integer"/>
					<xs:enumeration value="number"/>
					<xs:enumeration value="text"/>
					<xs:enumeration value="textarea"/>
					<xs:enumeration value="money"/>
					<xs:enumeration value="choice"/>
					<xs:enumeration value="percent"/>
					<xs:enumeration value="table"/>
					<xs:enumeration value="department"/>
					<xs:enumeration value="region"/>
					<xs:enumeration value="country"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string" use="required"/>
		<xs:attribute name="condition" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="FieldType">
		<xs:choice minOccurs="0">
			<xs:element name="PreNote">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="condition" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostNote">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="condition" type="xs:string"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		<xs:attribute name="newline" type="xs:boolean" default="1"/>
		<xs:attribute name="position" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="data" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="label" type="xs:string"/>
		<xs:attribute name="usage" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="input"/>
					<xs:enumeration value="output"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="prompt"/>
		<xs:attribute name="required" type="xs:boolean"/>
		<xs:attribute name="colon" type="xs:boolean" default="1"/>
		<xs:attribute name="underlabel" type="xs:boolean" default="0"/>
		<xs:attribute name="help" type="xs:boolean"/>
		<xs:attribute name="emphasize" type="xs:boolean"/>
		<xs:attribute name="explanation" type="xs:string"/>
		<xs:attribute name="condition" type="xs:string"/>
		<xs:attribute name="expanded" type="xs:boolean" default="1"/>
	</xs:complexType>
	<xs:complexType name="DataType">
		<xs:sequence minOccurs="0">
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Choices" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="Choice" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="id" type="xs:string" use="required"/>
								<xs:attribute name="value" type="xs:string" use="required"/>
								<xs:attribute name="label" type="xs:string" use="required"/>
								<xs:attribute name="condition" type="xs:string"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="Source">
							<xs:complexType>
								<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
								<xs:attribute name="idColumn" type="xs:string"/>
								<xs:attribute name="valueColumn" type="xs:string" use="required"/>
								<xs:attribute name="labelColumn" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Table" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Description" type="xs:string" minOccurs="0"/>
						<xs:element name="Column" type="ColumnType" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:string"/>
					<xs:attribute name="name" type="xs:string"/>
					<xs:attribute name="label" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Constraints" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Constraint" type="ConstraintType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="date"/>
					<xs:enumeration value="day"/>
					<xs:enumeration value="month"/>
					<xs:enumeration value="year"/>
					<xs:enumeration value="boolean"/>
					<xs:enumeration value="integer"/>
					<xs:enumeration value="number"/>
					<xs:enumeration value="text"/>
					<xs:enumeration value="textarea"/>
					<xs:enumeration value="money"/>
					<xs:enumeration value="choice"/>
					<xs:enumeration value="percent"/>
					<xs:enumeration value="table"/>
					<xs:enumeration value="department"/>
					<xs:enumeration value="region"/>
					<xs:enumeration value="country"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" type="xs:string"/>
		<xs:attribute name="max" type="xs:string"/>
		<xs:attribute name="content" type="xs:string"/>
		<xs:attribute name="round" type="xs:nonNegativeInteger" default="2"/>
		<xs:attribute name="default" type="xs:string"/>
		<xs:attribute name="unit" type="xs:string"/>
		<xs:attribute name="source" type="xs:string"/>
		<xs:attribute name="index" type="xs:string"/>
	</xs:complexType>
	<xs:attributeGroup name="constraintGroup">
		<xs:attribute name="id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="constraint" type="xs:string" use="required"/>
		<xs:attribute name="constraintMessage" type="xs:string" use="required"/>
	</xs:attributeGroup>
	<xs:complexType name="ConstraintType">
		<xs:attributeGroup ref="constraintGroup"/>
	</xs:complexType>
</xs:schema>
